http:
  middlewares:
    crowdsec:
      plugin:
        bouncer:
          enabled: true
          crowdsecMode: stream
          crowdsecLapiKey: "{{ crowdsec_bouncer_api_key }}"
          crowdsecLapiHost: "localhost:8080"
          crowdsecAppsecEnabled: true
          crowdsecAppsecHost: "localhost:7422"
          crowdsecAppsecFailureBlock: true
          crowdsecAppsecUnreachableBlock: false

  routers:
    nginx:
{% if domain_name != "" %}
      rule: "Host(`{{ domain_name }}`)"
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
{% else %}
      rule: "PathPrefix(`/`)"
      entryPoints:
        - web
{% endif %}
      middlewares:
        - crowdsec
      service: nginx

  services:
    nginx:
      loadBalancer:
        servers:
          - url: "http://localhost:8081"
        passHostHeader: false
